body {
    background-image: url('padrão-arabe.png'); /* Adiciona uma imagem de fundo com padrão árabe */
    background-size: cover; /* Faz com que a imagem de fundo cubra toda a área */
}

/* Navegação */
.mainmenu {
    background-color: #b38b57 !important; /* Define a cor de fundo da navegação como dourado escuro */
}

.mainmenu .navbar-nav .nav-link {
    color: #fff !important;
    transition: color 0.3s !important; /* Adiciona uma transição suave para a mudança de cor */
}

.mainmenu .nav-link:hover,
.mainmenu .nav-link.active {
    color: #c49b66 !important; /* Muda a cor do texto dos links para marrom dourado quando o mouse passa sobre eles */
}

/* Rodapé */
footer {
    background-color: #c49b66 !important; /* Define a cor de fundo do rodapé como marrom dourado */
    color: #fff; /* Define a cor do texto do rodapé como branco */
    text-align: center; /* Centraliza o texto do rodapé */
    padding: 10px 0; /* Adiciona preenchimento acima e abaixo do conteúdo do rodapé */
    border-top: 5px solid #b38b57; /* Adiciona uma borda superior dourada escura */
}